---
layout: default
title: Staff
permalink: /staff/
---

<section id="mu-speakers">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-title-area">
                    <h2 class="mu-title">Our Staff</h2>
                    <p>Our staff is made up of 100% volunteers that want to see the community grow and thrive. If you
                        would like to be considered apart of our staff just drop us a line.</p>
                </div>
                <div class="row flex-row">
                    {% assign members = site.staff | sort: 'order' %}
                    {% for member in members %}
                    <div class="col-md-3 staff">
                        {% if member.icon %}
                        <img src="/assets/images/staff/{{ member.icon }}" alt="speaker img">
                        {% endif %}
                        {% if member.gravatar %}
                        <img src="https://www.gravatar.com/avatar/{{ member.gravatar }}?s=300" />
                        {% endif %}
                        <div class="staff-info">
                            <h3>{{ member.name }}</h3>
                            <p>{{ member.position }}</p>
                            {% if member.content %}
                            <div class="bio">
                                {{ member.content }}
                            </div>
                            {% endif %}
                            <ul class="mu-single-speakers-social">
                                {% if member.sites.fa %}
                                <li><a href="https://www.furaffinity.net/user/{{ member.sites.fa }}/" target="_blank"><i
                                            class="fa fa-globe"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
</section>