<footer id="mu-footer" role="contentinfo">
    <div class="container">
        <div class="mu-footer-area">
            <div class="mu-footer-top">
                <div class="mu-social-media">
                    <a href="https://www.facebook.com/FurryBroadcastNet/" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/FurBroadcastNet" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
            <div class="mu-footer-bottom">
                <p class="mu-copy-right">&copy; Copyright <a rel="nofollow" href="https://www.furrybroadcasting.net">Furry Broadcasting Network LLC</a>. All right reserved.</p>
            </div>
        </div>
    </div>

</footer>
<!-- End footer -->



<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Bootstrap -->
<script src="/node_modules/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<!-- Slick slider -->
<script type="text/javascript" src="/node_modules/slick-carousel/slick/slick.js"></script>
<!-- Event Counter -->
<script type="text/javascript" src="/node_modules/jquery-countdown/dist/jquery.countdown.min.js"></script>
<!-- Ajax contact form  -->
<script type="text/javascript" src="/assets/js/app.js"></script>



<!-- Custom js -->
<script type="text/javascript" src="/assets/js/custom.js"></script>




{% include googleanalytics.html %}