
/*--------------------*/
/* SPEAKERS */
/*--------------------*/


#mu-speakers {
  background-color: #fff;
  display: inline;
  float: left;
  width: 100%;
}

.mu-speakers-area {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}

.mu-speakers-content{
  display: inline;
  float: left;
  margin-top: 50px;
  width: 100%;
}

.mu-single-speakers {
  padding: 0 10px;
  outline: none;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.mu-speakers-slider .slick-next {
  right: -60px;
}

.mu-speakers-slider .slick-prev {
  left: -60px;
}

.mu-single-speakers-info {
  display: inline;
  float: left;
  margin-top: 20px;
  width: 100%;
}

.mu-single-speakers-info h3 {
  margin-bottom: 4px;
  font-size: 22px;
}

.mu-single-speakers-info p {
  margin-bottom: 5px;
}

.mu-single-speakers-social {

}

.mu-single-speakers-social li {
  display: inline-block;
}

.mu-single-speakers-social li a {
  display: inline-block;
  margin-right: 5px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}


// Override some slick stuff.
.slick-list {
  .slick-loading & {
    background: #fff none center center no-repeat;
  }
}

.slick-prev,
.slick-next {
  margin-top: -170px;
  height: 50px;
  width: 50px;

  &:before {
    font-size: 25px;
  }
}